@model List<ChiNhanh>

<select id="BranchDropdown" class="form-control">
    <option value="">Chọn Chi Nhánh</option>
    @foreach (var branch in Model)
    {
        <option value="@branch.MaCn">@branch.Ten - @branch.Diachi</option>
    }
</select>
