@model IEnumerable<Manage_Coffee.Models.Loai>

<div style="text-align:center; margin-top:35px;">
    @foreach (var item in Model)
    {
        @if (item.Maloai != "L0003")
        {
        <a class="loai"  asp-controller="SanPhams" asp-action="Sanpham1" asp-route-category="@item.Maloai"> @item.Ten </a>
        }
    }
</div>
<style>
    .loai {
        color: #07522E;
        text-decoration: none;
        font-size: 25px;
        padding-bottom: 50px;
        margin: 50px;
    }
</style>