@model Manage_Coffee.Models.ForgotPassword

@{
    ViewData["Title"] = "ForgotPassword";
    <link href="~/css/pass.css" rel="stylesheet" />
}


<div class="container">
    <div class="pass">
        <h1>Khôi phục mật khẩu</h1>

        @if (Model?.EmailSent == true)
        {
            <div class="alert" role="alert">
                <p>
                    Nếu bạn đã đăng ký tài khoản với chúng tôi, <br />
                    Chúng tôi đã gửi một email về Email đã đăng ký của bạn
                </p>
            </div>
        }
        else
        {
            <p>Bạn quên mật khẩu? Đừng lo lắng, bạn có thể thiết lập lại nó một cách dễ dàng.</p>
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text"></div>
                <div class="form_group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form_group">
                    <input type="submit" value="Tiếp tục" class="btn_pass" />
                </div>
            </form>
        }
        <div>
            <p>Quay lại trang <a asp-action="Login" asp-controller="Account">Đăng nhập</a></p>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
