@{
    ViewData["Title"] = "LienHe";
    <link rel="icon" href="path/to/favicon.ico">
    <link href="~/css/about.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
}
<div class="title_ab">
    <img src="~/css/img/title_ab.png" />
</div>
<div class="img_ab">
    <img src="~/css/img/img1.jpg" />
</div>
<div class="content_ab">
    <div class="header">Quá trình chinh phục hành trình mới</div>
    <div class="stats">
        <div class="stat">
            <div class="stat-icon"><img src="~/css/img/icons8-hot-coffe-100.png" /></div>
            <div class="stat-number">100.000+</div>
            <div class="stat-label">Sản phẩm được bán ra trong thị trường trong 3 tháng đầu tiên</div>
        </div>
        <div class="stat">
            <div class="stat-icon"><img src="~/css/img//icons8-coffee-shop-100.png" /></div>
            <div class="stat-number">4</div>
            <div class="stat-label">4 Cửa hàng trên 4 tỉnh thành ở Việt Nam</div>
        </div>
        <div class="stat">
            <div class="stat-icon"><img src="~/css/img/icons8-rate-100.png" /></div>
            <div class="stat-number">98%</div>
            <div class="stat-label">Khách hàng hài lòng về sản phẩm và chất lượng dịch vụ của Le Petit Cafe</div>
        </div>
    </div>
</div>
<div class="timeline">
    <h2>Giá trị cốt lõi</h2>

    <div class="timeline-item">
        <div class="timeline-content left">
            <h3>Thủ công</h3>
            <p>Tại Le Petit Café, sự thủ công, tỉ mỉ và tâm đắc được thể hiện qua từng sản phẩm, không chỉ là Cà phê đặc trưng mà còn cả các món nước, trà. Le Petit Café đã dồn tâm huyết vào từng chi tiết để sản phẩm mang hương vị nguyên bản và chân thật nhất.</p>
        </div>
        <div class="timeline-image">
            <img src="~/css/img/phacf.jpg" alt="Thủ công">
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-image">
            <img src="~/css/img/camhung.jpg" alt="Quan tâm">
        </div>
        <div class="timeline-content right">
            <h3>Quan tâm</h3>
            <p>Tất cả trải nghiệm của từng khách hàng là tiêu chí hàng đầu của Le Petit Café. Dù là uống tại quán hay mang đi, sản phẩm của Le Petit Café luôn trong quy cách tỉ mỉ nhất. Le Petit Café tin rằng, mỗi sản phẩm đều là sự kết nối và là cách để cộng đồng nhận diện thương hiệu và lan tỏa những giá trị tốt đẹp đến xã hội.</p>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-content left">
            <h3>Cảm hứng</h3>
            <p>Mỗi sản phẩm, mỗi cảm xúc của Le Petit Café đều được xây dựng dựa trên phong cách đương đại sáng tạo đến từ công thức và cảm xúc của nghệ sĩ. Le Petit Café tin rằng, đó là nơi truyền cảm hứng cho những ai yêu thích sự khác biệt.</p>
        </div>
        <div class="timeline-image">
            <img src="~/css/img/chcf.jpg" alt="Cảm hứng">
        </div>
    </div>
</div>