@{
    ViewData["Title"] = "TuyenDung";

}
<link href="~/css/tuyendung.css" rel="stylesheet" />

<div class="tuyendung">

    <div class="image-container">
        <img src="~/css/img/tuyendung2.png" width="100%" height="500px" />
    </div>


    <div class="tieude">
        <h1>NHÂN VIÊN BÁN HÀNG</h1>
        <div class="anhtieude">
            <img src="~/css/img/tuyendung1.png" />
        </div>
    </div>
    <div class="noidung">

        <div class="section-title">MÔ TẢ CÔNG VIỆC</div>

        <div class="content">
            <ul>
                <li>Thực hiện pha chế thức uống cho khách hàng theo đúng quy trình, công thức.</li>
                <li>Hướng dẫn tư vấn cho khách hàng lựa chọn thức uống, cung cấp cho khách hàng thông tin về sản phẩm dịch vụ của cửa hàng và thực hiện thanh toán.</li>
                <li>Đảm bảo tình hình vệ sinh khu vực quầy bar, quầy pha chế luôn sạch sẽ, phù hợp tiêu chuẩn VS.ATTP.</li>
            </ul>
        </div>


        <div class="tentieude"> YÊU CẦU</div>

        <div class="content">
            <ul>
                <li> Nam/Nữ từ 18 - 25 tuổi</li>
                <li>Ưu tiên có kinh nghiệm trong ngành F&amp;B</li>
                <li>Yêu thích ngành dịch vụ, F&amp;B, khả năng chịu được áp lực công việc.</li>
                <li> Thời gian làm việc: Shifting/ca luân phiên, xoay ca linh động không cố định.</li>
            </ul>
        </div>

        <div class="tentieude">QUYỀN LỢI</div>
        <div class="content">
            <ul>
                <li> Mức lương hấp dẫn (từ cơ bản, thưởng thu)</li>
                <li>Ngoài ra còn được đào tạo nghiệp vụ chuyên môn, thưởng doanh thu, tiền tips, hỗ trợ gửi xe, công tác phí, ưu đãi giảm giá Nhân viên. </li>
                <li>Có cơ hội thăng tiến lên vị trí cao hơn.</li>
                <li> Ưu đãi giảm giá nội bộ 50%</li>
                <li> Hưởng đầy đủ các chế độ bảo hiểm theo quy định, thưởng tháng 13, phép năm... </li>
            </ul>
        </div>

        <div class="tentieude">ỨNG TUYỂN </div>

        <div class="content apply">

            <p>
                Điền thông tin ứng tuyển tại:
                <a href="https://www.facebook.com/thy.do.167">
                    https://www.facebook.com/thy.do.167
                </a>
            </p>

            <p>
                Gửi CV về:
                <a href="https://www.facebook.com/quynh.shion">
                    https://www.facebook.com/quynh.shion
                </a>
            </p>

        </div>
        <div class="tentieude"> LƯU Ý</div>

        <div class="content">
            <ul>
                <li>Ứng tuyển sớm sẽ lên hồ sơ phù hợp yêu cầu tuyển dụng qua email/ điện thoại.</li>
                <li>Chúng tôi không thu bất kỳ phí nào của ứng viên.</li>
            </ul>
        </div>
    </div>
</div>

